/*form {
    display: none;
}*/

/*
.hideMe {
	display: none;
}*/

body {
	/*background-image: url(../background.png);*/
	background-color: #8DC73F;
}

#packageApp {
	margin-top: 3%;
	margin-bottom: 3%;
	/*padding-top: 2%;*/
	padding: 3% 4%;
	/*background-color: rgba(44, 105, 122, .95);*/
	background-color: white;	
	border: solid #013678 5px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px gray;
}

#Jimmy {
	width: 1000px;
	height: 400px;
}

/*label {
	color: lightgray;
}*/

button, .button {
	/*background-color: #8DC73F;*/
	background-color: #013678;
	border-radius: 5px;
	box-shadow: 1px 1px 1px black;
	color: white;
	margin: 0 auto 7% auto;
	display: block;
}

/*button:hover, button:focus, .button:hover, .button:focus {
	background-color: #2F6675;
}*/

/*#mainTitle {
	color: white;
}*/




